:root {
  --color-iris: #4d5ae5;
  --color-primary: #2e2f42;
  --color-secondary: #434455;
  --color-light: #ffffff;
  --color-invert: #f4f4fd;
  --color-accent: #e7e9fc;
  --color-ocean: #404bbf;
  --color-success: #31d0aa;
  --color-helper-text: #8e8f99;
  /*-----------------FONT-FAMILY----------------- */
  --font-primary: 'Roboto', sans-serif;
  --font-secondary: 'Raleway', sans-serif;
  /* ----------------OTHERS---------------------- */
  --indent: 30px;
  --items: 3;
}
body {
  font-family: var(--font-primary);
  color: var(--color-secondary);
}
.list {
  list-style: none;
  margin: 0;
}
.link {
  text-decoration: none;
}
.text {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  margin: 0;
}
.button {
  font-family: inherit;
}
img {
  display: block;
  max-width: 100%;
  height: auto;
}
.card-set {
  display: flex;
  flex-wrap: wrap;
  gap: var(--indent);
}
.card-set-item {
  flex-basis: calc((100% - (var(--indent) * (var(--items)-1))) / var(--items));
}
.container {
  max-width: 1158px;
  padding: 0 15px;
  margin: 0 auto;
}
/*-----------------HEADER----------------- */
.header {
  padding-top: 24px;
  width: 1440px;
  margin: 0;
}
.header-wrapper {
  display: flex;
  align-items: center;
  margin: 0;

  outline: 2px solid red;
}
.header-nav {
  display: flex;
  align-items: center;
  margin-right: 332px;
}
.logo {
  font-family: var(--font-secondary);
  font-weight: 800;
  font-size: 18px;
  line-height: 1.33;
  color: var(--color-iris);
  text-decoration: none;
  text-transform: uppercase;
  letter-spacing: 0.03em;
  margin-right: 76px;
  margin-left: 156px;
}
.header-logo {
  color: var(--color-primary);
}
.header-list {
  display: flex;
  gap: 40px;
  padding-left: 0;
}
.header-link {
  font-weight: 500;
  color: var(--color-primary);
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  display: block;
  padding-top: 24px;
  padding-bottom: 24px;
}
.current {
  color: var(--color-iris);
}

.link:hover,
.link:focus {
  color: var(--color-ocean);
}
.header-contacts {
  display: flex;
  gap: 40px;
  padding: 0;
}
.header-contact {
  font-weight: 400;
  color: var(--color-secondary);
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  padding-top: 24px;
  padding-bottom: 24px;
}

/*-----------------MAIN----------------- */
.hero-section {
  background-color: var(--color-primary);
  width: 1440px;
  height: 600px;
}
.hero-title {
  font-weight: 700;
  font-size: 56px;
  line-height: 1.071;
  color: var(--color-light);
  letter-spacing: 0.02em;
  padding: 188px 473px 49px 473px;
  margin: 0;
}

.hero-button {
  border-radius: 4px;
  border: none;
  background-color: var(--color-iris);
  cursor: pointer;
  color: var(--color-light);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  margin: 0 635px 187px 636px;
  padding: 16px 32px;
}
.hero-button:hover,
.hero-button:focus {
  background-color: var(--color-ocean);
}
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
.advantages-list {
  display: flex;
  padding-left: 156px;
  gap: var(--indent);
  padding-top: 120px;
  padding-bottom: 120px;
}
.advantages-item {
  width: 264px;
}
.advantages-title {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  color: var(--color-primary);
  letter-spacing: 0.02em;
  margin: 0;
  padding-bottom: 8px;
}
.work-wrapper {
  width: 1128px;
  margin: 0 156px 130px 156px;
}
.work-title {
  width: 323px;
  height: 40px;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.111;
  color: var(--color-primary);
  letter-spacing: 0.02em;
  margin-top: 0;
  margin-left: 403px;
  margin-bottom: 72px;
}
.work-list {
  display: flex;
  gap: var(--indent);
  padding: 0;
}
.team-section {
  background-color: var(--color-invert);
  width: 1440px;
}
.team-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.111;
  color: var(--color-primary);
  letter-spacing: 0.02em;
  margin: 0;
  padding-top: 120px;
  padding-bottom: 72px;
  text-align: center;
}
.team-list {
  padding-left: 156px;
  padding-right: 156px;
  padding-bottom: 120px;
  --items: 4;
}
.team-item {
  background-color: var(--color-light);
}
.person-wrapper {
  padding-top: 32px;
  padding-bottom: 32px;
  text-align: center;
}
.team-person {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  color: var(--color-primary);
  letter-spacing: 0.02em;
  margin: 0;
  padding-bottom: 8px;
}
/*-----------------FOOTER----------------- */
.footer {
  background-color: var(--color-primary);
  width: 1440px;
}
.footer-wrapper {
  padding: 100px 1020px 100px 156px;
  width: 1440px;
}
.logo-footer {
  margin: 0;
}
.footer-logo {
  color: var(--color-invert);
}
.footer-text {
  width: 264px;
  color: var(--color-accent);
  padding-top: 16px;
}
/* ----------------STUDIO------------------- */
/* ---------------PORTFOLIO----------------- */
.filter-button {
  border-radius: 4px;
  border: var(--color-accent);
  cursor: pointer;
  background-color: var(--color-invert);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  color: var(--color-iris);
  letter-spacing: 0.04em;
}
.filter-button:hover,
.filter-button:focus {
  background-color: var(--color-ocean);
  color: var(--color-light);
}
.works-title {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  color: var(--color-primary);
  letter-spacing: 0.02em;
}
